@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

body {
  background-color: #2d2d2d;
  color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
}

h1 {
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  margin: 10px 0;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-family: 'Exo', sans-serif;
}

svg {
  max-width: 100%;
  height: auto;
}
